ChallengeOne/~$allengeOne.docx
ChallengeOne/__pycache__/FirstChallenge.cpython-35.pyc
*.xml
.idea/Tutoring-Pset.iml
ChallengeTwo/.idea/ChallengeTwo.iml
ChallengeTwo/~$allengeTwo.docx
*.tmp
ChallengeFive/~$allengeFive.docx